<a href="https://colab.research.google.com/github/Nani81438/Vn2T03/blob/main/class_programs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#creating a class:
class sample:
  pass
my_sample = sample()
type(my_sample)

__main__.sample

In [ ]:
#creating a class and attributes
class dog:                    # class 
  def __init__ (self,breed,price):    # creating attributes, 
    self.breed = breed
    self.price = price
my_dog = dog(breed ='husky',price = 40000)  #variable
print(my_dog.breed)
print(my_dog.price)

husky
40000

In [ ]:
#creating a class and attributes and methods(functions)
class dog:                    # class 
  def __init__ (self,breed,price):    # creating attributes, 
    self.breed = breed
    self.price = price
  def bark(self,number):
    print ("bowwwwwwwwwwwwwwwwww : {}",self.breed)
    #print ("wooooooooooff: {}",format(self.breed)) # format function is used to add int and string data types
    #print ("woooooof:  {} and my number is".format(self.breed,number))
my_dog = dog(breed ='retriever',price = 50000)
print(my_dog.breed)
print(my_dog.price)
my_dog.bark(20)

retriever
50000
bowwwwwwwwwwwwwwwwww : {} retriever

In [ ]:
class circle:
  pi = 3.14 #CLASS OBJECT ATTRIBUTE
  def __init__ (self,radius):
    self.radius = radius
  def area(self):
    return self.pi * self.radius**2
area_circle = circle(6)
area_circle.area()

113.04

In [ ]:
#area of a rectangle
class rect:
  def __init__ (self,l,b):
    self.l = l
    self.b = b
  def rect_area(self):
    return self.l*self.b
area_of_rect = rect(5,6)
area_of_rect .rect_area()

30

In [ ]:
# employee info
class emp:
  def __init__ (self,id,name,salary):
    self.id = id
    self.name = name 
    self.salary = salary
  def get_info(self):
    return self.id,self.name,self.salary
    
employee = emp(40,'prasanna',40000)
employee.get_info()

(40, 'prasanna', 40000)

In [ ]:
n = int (input("enter the amount"))
t = float(input("enter the time: "))
class Ticket:
  def __init__ (self,amount,time,grade):
    self.amount = amount
    self.time = time 
    self.grade = grade
  
  def tk(self):
    if self.amount  >= 500:
      print (self.grade," is first class")
    elif self.amount  <= 500 or self.amount >=450:
      print (self.grade," is second class")
    elif self.amount < 400:
      print (self.grade," is third class")
    return (self.time,self.amount,self.grade)
got_it = Ticket(n,t,"grade")
got_it.tk()

enter the amount700
enter the time: 5.15
grade  is first class

(5.15, 700, 'grade')

In [ ]:
#1.python program to check leap year using oops
class LeapYear:
  def __init__(self,year):
     self.year = year
     

  def check_leap(self):
    if ((self.year%4==0)or
    (self.year%100!=0) and
    (self.year%400 ==0)):
      print (type(self.year))
      print (self.year," it is a leap year")
    else:
      print (self.year,"not a leap year")


    
   
y1 = LeapYear()
y1.check_leap()

<class 'int'>
1988  it is a leap year

In [ ]:
#class to find student grade # includehelp.com
class Student:
  # initiating
  def __init__(self):
    self.roll = 0
    self.name = " "
    self.marks = []
    self.total = 0
    self.per = 0
    self.grade = ""
    self.result = ""
  
  # taking input details of student
  def SetStudent(self):
        self.roll=int(input("Enter Roll: "))
        self.name=input("Enter Name: ")
        print("Enter marks of 5 subjects: ")
        for i in range(5):
            self.marks.append(int(input("Subject "+str(i+1)+": ")))
  # calculating the total
  def calculateTotal(self):
        for x in self.marks:
            self.total+=x
  #calculate the percentage
  def calculatePercentage(self):
        self.per=self.total/5
  #calculate the grade
  def calculateGrade(self):
        if self.per>=85:
            self.grade="S"
        elif self.per>=75:
            self.grade="A"
        elif self.per>=65:
            self.grade="B"
        elif self.per>=55:
            self.grade="C"
        elif self.per>=50:
            self.grade="D"
        else:
            self.grade="F"

  # pass/fail;
  def calculateResult(self):
        count=0
        for x in self.marks:
            if x>=50:
                count+=1
        if count==5:
            self.result="PASS"
        elif count>=3:
            self.result="COMP."
        else:
            self.result="FAIL"
   # show to student
  def showStudent(self):
      self.calculateTotal()
      self.calculatePercentage()
      self.calculateGrade()
      self.calculateResult()
      print(self.roll,"\t\t",self.name,"\t\t",self.total,"\t\t",self.per,"\t\t",self.grade,"\t\t",self.result)
def main():
#Student object
  s=Student()
  s.SetStudent()
  s.showStudent()

if __name__=="__main__":
    main()

Enter Roll: 95
Enter Name: hnfjsh
Enter marks of 5 subjects:
Subject 1: 95
Subject 2: 96
Subject 3: 98
Subject 4: 96
Subject 5: 98
95 		 hnfjsh 		 483 		 96.6 		 S 		 PASS

In [ ]:
8.9# Define a class for Checking Armstrong number
class Check :

    # Constructor
    def __init__(self,number) :
        self.num = number
        
    # define a method for checking number is Armstrong or not 
    def isArmstrong(self) :

        # copy num attribute to the temp variable
        temp = self.num
        res = 0

        # run the loop untill temp is not equal to zero
        while(temp != 0) :
            
            rem = temp % 10

            res += rem ** 3

            # integer division
            temp //= 10

        # check result equal to the num attribute or not
        if self.num == res :
            print(self.num,"is Armstrong")
        else :
            print(self.num,"is not Armstrong")


# Driver code 
if __name__ == "__main__" :
    
    # input number
    num = 153
    
    # make an object of Check class
    check_Armstrong = Check(num)
    
    # check_Armstrong object's method call
    check_Armstrong.isArmstrong()
    
    num = 127
    check_Armstrong = Check(num)
    check_Armstrong.isArmstrong()

153 is Armstrong
127 is not Armstrong

In [ ]:

class student:
  def __init__(self,r_no,name,age):
    self.r_no = r_no
    self.name = name
    self.age = age
  def display(self):
    print (self.r_no,end = '\t\t')
    print (self.name,end = '\t\t')
    print (self.age)
print("student details entry: ")
r_no = input ("enter roll no: ")
name = input ("enter name: ")
age = int(input ("enter age: "))
st = student(r_no,name,age)  # creating an object
print ("student info")
print ("r_no\t\tname\t\tage")
st.display()

student details entry:
enter roll no: a
enter name: varshitha
enter age: 7
student info
r_no		name		age
a		varshitha		7

In [ ]:
class car:
  def __init__(self,brand,fuel_type,price): # initiating the class
    self.brand = brand
    self.fuel_type = fuel_type
    self.price = price
  def display(self):  # 
    print(self.brand,end = '\t\t')
    print(self.fuel_type,end = '\t\t')
    print(self.price,end = '\t\t')

print ("car details:")
brand = input ("brand name")
fuel_type = input ("fuel_type")
price = int (input("enter the price:"))
c = car(brand,fuel_type,price) # creating an object
print ("car info:")
print ("brand\t\tfuel_type\t\tprice")
c.display()

car details:
brand namemaruthi
fuel_typepetro
enter the price:1000000
car info:
brand		fuel_type		price
maruthi		petro		1000000

In [ ]:

\# loan approval
class hdfc:
  def __init__(self,job,salary):
    self.job = job
    self.salary = salary
    
  def approval(self):
    if self.salary >= 50000:
      print ("loan is approved")
    else:
      print ("loan is not approved")
job = input("enter the type of job:")
salary =  int (input("enter the salary:"))
h = hdfc(job,salary)
h.approval()

enter the type of job:nfjku
enter the salary:15000
loan is not approved

In [ ]:
#Program for addition of two numbers by using Classes and objects
class Addition:
  def getvalues(self):
    self.a=float(input("Enter Value of a:"))
    self.b=float(input("Enter Value of b:"))
  def findsum(self):
    self.getvalues()
    self.c=self.a+self.b
    self.dispvalues()
  def dispvalues(self):
    print("Val of a={}".format(self.a))
    print("Val of b={}".format(self.b))
    print("Sum={}".format(self.c))
#main program
ao=Addition()
ao.findsum()

Enter Value of a:58
Enter Value of b:5872
Val of a=58.0
Val of b=5872.0
Sum=5930.0

**INHERITANCE**

In [ ]:
class animal:   # base class or parent class
  def __init__ (self):
    print ("animal created")
  def who_am_i(self):
    print ("i am an animal")
  def eat(self):
    print ("i am eating")
class dog(animal): #child class
  def __init__(self):
    print ("dog created")
  def who_am_i(self):
    print ("i am a dog")
a = animal()
a.who_am_i()
a.eat()
my_dog= dog()
my_dog.who_am_i()
my_dog.eat()

animal created
i am an animal
i am eating
dog created
i am a dog
i am eating

In [ ]:
class human:
  def __init__(self):
    print ("human created")
  def type(self):
    print ("i am a boy")
  def activities(self):
    print ("eat,drink,walk,run,sleep")
class nani(human):
  def __init__(self):
    print ("nani created")
a = human()
a.type()
a.activities()
b = nani()
b.type()
b.activities()

human created
i am a boy
eat,drink,walk,run,sleep
nani created
i am a boy
eat,drink,walk,run,sleep

**POLYMORPHISM**

In [ ]:
class dog:
  def __init__(self,name):
    self.name = name
  def speak(self):
    return self.name +  " says woooof"

In [ ]:
class cat:
  def __init__(self,name):
    self.name = name
  def speak(self):
    return self.name +  " says meow"

In [ ]:
niko = dog("niko")
flexi = cat("flexi")

In [ ]:
print(niko. speak())
print(flexi.speak())

niko says woooof
flexi says meow

In [ ]:
for pet in [niko,flexi]:
  print (type(pet))
  print (pet.speak())

<class '__main__.dog'>
niko says woooof
<class '__main__.cat'>
flexi says meow

In [ ]:
def pet_speak (pet):
  print (pet.speak())

pet_speak (niko)

niko says woooof

In [ ]:
#special methods 
class book:
  def __init__(self,name,author,pages):
    self.name = name
    self.author = author
    self.pages = pages
  def __str__(self):              # special method for strings
    return f"{self.name} by {self.author} of {self.pages} pages"
  def __len__(self): 
    print (b.__len__())      # special method for finding the length
    return self.pages
  def __del__(self):         ## special method for deleting the object
    return f"a book object has been deleted"
b = book('pyhon rocks','jose',200)
print (b.__str__())
print (b.__len__())
print (b.__del__())

pyhon rocks by jose of 200 pages
200
a book object has been deleted

In [ ]:

class line:
  def __init__(self,cor1,cor2):
    self.cor1 = cor1
    self.cor2 = cor2
  def distance(self):
    x1,y1 = self.cor1
    x2,y2 = self.cor2
    return ((x2-x1)**2 + (y2-y1)**2)**0.5
  def slope(self):
    x1,y1 = self.cor1
    x2,y2 = self.cor2
    return (y2-y1)/(x2-x1)

coordinate1 = (3,2)
coordinate2 = (8,10)
ll = line (coordinate1, coordinate2)
print(ll.distance())
print(ll.slope())

9.433981132056603
1.6

In [ ]:
class cylinder:
  def __init__(self,radius,height):
    self.radius = radius
    self.height = height
  def volume(self):
    return self.height *3.14*(self.height)**2
  def surface_area(self):
    top = 3.14*(self.radius)**2
    return (2*top)+(2*3.14*self.radius*self.height)
c = cylinder(2,3)
print(c.volume(),f"is the volume")
print(c.surface_area(),f"is the surface area")

84.78 is the volume
62.8 is the surface area

In [ ]:
class square:
  def __init__(self,a):
    self.a = a
  def area(self):
    return self.a**2
  def perimeter(self):
    return 4*self.a
s = square(4)
print(s.area())
print(s.perimeter())

16
16

In [ ]:
class str_int:
  def __init__(self,a,b):
    self.a = a
    self.b = b
  def string(self):
    if (type(self.a) == str) and (type(self.b) == str):
      return self.a+self.b
  def integer(self):
    if (type(self.a) == int) and (type(self.b) == int):
      return self.a*self.b
si = str_int("45","jcjjfccjk")
print(si.string())
print(si.integer())

45jcjjfccjk
None

In [ ]:
#method for withdrawing the amount 
class account:
  def __init__(self,bal,owner):
    self.bal = bal
    self.owner = owner
  
  def __str__(self):
        return f'Account owner:   {self.owner}\nAccount balance: ${self.balance}'

  def deposit(self):
    return f"deposit accepted"
  def withdraw(self):
    if withdrawl <=self.bal :
      print ("withdraw accepted")
    elif withdrawl >self.bal :
      print ("withdraw rejected")
    else:
      pass

In [ ]:
acc = account(100000,"nani")

In [ ]:
acc.bal

100000

In [ ]:
acc.owner

'nani'

In [ ]:
withdrawl = int(input("enter the amount"))
acc.withdraw()

enter the amount20000000
withdraw rejected

In [ ]:
dep = int(input("enter the amount"))
acc.deposit()

enter the amount5

'deposit accepted'

In [ ]:
class circle:
  def __init__ (self,r):
    self.r = r
  def area(self):
    return 3.14*self.r**2
c = circle(4)
c.area()

50.24

**INHERITANCE**

In [ ]:
#1.single inheritance == parent to child
class parent:
  
  def display(self):
    print ("parent" )
class child(parent):
  def show(self):
    print("child")
c = child()
c.show()
c.display()

child
parent

In [ ]:
#2.multilevel inheritance #using child class we can access both the parent and grandparent classes
class g_parent:
  def g_display(self):
    print ("grand parent" )

class parent(g_parent):
  def p_display(self):
    print ("parent" )
class child(parent):
  def c_display(self):
    print("child")
c = child()
c.g_display()
c.p_display()
c.c_display()

grand parent
parent
child

In [ ]:
#3..heirarchical inheritance# one parent and two children
class parent:
  def p_display(self):
    print ("parent" )
class child_1(parent):
  def c1_display(self):
    print("child")
class child_2(parent):
  def c2_display(self):
    print("child")
c1 = child_1()
c1.p_display()
#c1.c2_display() we cant access another child class
c2 = child_2()
c2.p_display()

parent
parent

In [ ]:
#4.multiple inheritance  == inheriting properties of multi parents using child class,father -mother -child
class father:
  def f_display(self):
    print ("father" )
class mother:
  def m_display(self):
    print ("mother" )

class child(father,mother):
  def c_display(self):
    print("child")
c = child()
c.c_display()
c.f_display()
c.m_display()

child
father
mother

In [ ]:
#5.hybrid inheritance
class school:
  def fun1_display(self):
    print ("i am school class" )
class teacher1(school):                # upto here single inheritance
  def fun2_display(self):   
    print ("i am teacher1" )            # upto here multilevel inheritance
class teacher2(school):
  def fun3_display(self):
    print ("i am teacher2" )
class student(teacher1,teacher2):         # heirarchical inheritance
  def fun4_display(self):
    print ("i am student" )
c= student()
c.fun1_display()
c.fun2_display()
c.fun3_display()
c.fun4_display()

i am school class
i am teacher1
i am teacher2
i am student

In [ ]:
class parent:
  def fun1(self):
    print ("parent")
class child(parent):
  def fun2(self):
    print ("child")
c = child()
c.fun1()
c.fun2()

parent
child