<a href="https://colab.research.google.com/github/Nani81438/Vn2T03/blob/main/functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def name_of_the_function(name):
  print (f"hello {name}")
name_of_the_function("nani")

hello nani

In [ ]:
def add_function(num1,num2):
  return num1+num2
add_function(2,3)

5

In [ ]:
n = int (input ("enter a number: "))
def even_numbers(n):
  if n%2 ==0:
    print ('even')
  else:
    print ("odd")
even_numbers(n)

enter a number: 5
odd

In [ ]:
# palindrome
str1 = input("enter a name: ")
def palindrome(str1):
  if str1 == str1[::-1]:
    print (" this is a palindrome ")
  else:
    print (" this is not a palindrome")
palindrome(str1)

enter a name: madam
 is a palindrome

In [ ]:
def myfunc(a,b):
  return a+b
myfunc(10,20)

30

In [ ]:
result = myfunc(10,20)
print (result)

30

In [ ]:
def add(x,y):
  c= x+y
  print (c)
add (5,6)

11

In [ ]:
def add_sub(a,b):
  c = a+b
  d = a-b
  return c,d 
(add_sub(10,5))

(15, 5)

In [ ]:
def hello_f():
 return "hellocollege"
print(hello_f().upper())

HELLOCOLLEGE

In [ ]:
print("------------CAT 1  --- w P -- w R-------------------")
# 1st -> T T :: Function with parameters, with return type
num1 = 10
num2 = 20

def sum(n1, n2):
    res = n1 + n2
    return res

print("Addition is : ", sum(num1, num2))  # print(10) # args --num1, num2

------------CAT 1  --- w P -- w R-------------------
Addition is :  30

In [ ]:
# 2nd -> T F :: Function with parameters, without return type

num1 = 10
num2 = 20

def sum(n1, n2):
    res = n1 + n2
    print("Addition is : ", res)

sum(num1, num2)
print("Second cat : ", sum(100,101))

Addition is :  30
Addition is :  201
Second cat :  None

In [ ]:
# 3rd --> F T :: Function without parameters, with return type

def sum():
    n1 = 10
    n2 = 20
    res = n1 + n2
    return res

output = sum()
print("Addition is : ", output)

Addition is :  30

In [ ]:
# 4th  --> F F  :: Function without parameters, without return type

def sum():
    n1 = 10
    n2 = 20
    res = n1 + n2
    print("Addition is : ", res)

sum()
print("Cat 4 : ", sum())

Addition is :  30
Addition is :  30
Cat 4 :  None

In [ ]:
def even_check(num):
  result = num%2 == 0
  return result
even_check(20)

True

In [ ]:
even_check(5)

False

In [ ]:
def even_check(num):
  return num%2 == 0
even_check(20)

True

In [ ]:
# prints true if any num in list is even
def check_even_list (num_lst):
  for number in num_lst:
    if number%2 ==0:
      return True
    else:
      pass
  return False

In [ ]:
check_even_list ([2,3,4])

True

In [ ]:
# prints even numbers in the list
def check_even_list (num_lst):
  even_numbers = []
  for number in num_lst:
    if number %2 == 0:
      even_numbers.append(number)
    else :
      pass
  return even_numbers

In [ ]:
check_even_list ([1,2,3,45,6])

[2, 6]

In [ ]:
check_even_list ([1,3,7])

[]

In [ ]:
# employee of the month
work_hours = [('abhi',4000),("balu",7000),("cassie",7500)]
def employee_of_the_month() :
  current_max = 0
  employee_of_the_month = " "
  for employee,hours in work_hours:
    if hours>current_max:
      current_max = hours
      employee_of_the_month = employee
    else:
      pass
  return (employee_of_the_month,hours)

  
employee_of_the_month()

('cassie', 7500)

In [ ]:
def pattern_print(n) :
  number = 1
  for i in range (0,n):
    number = 0
    for j in range (0,i+1):
      print (number ,end = " ")
      number = number +1
    print ("\r")
pattern_print(6)

0
0 1
0 1 2
0 1 2 3
0 1 2 3 4
0 1 2 3 4 5

In [ ]:
def pattern_print(n) :
  for i in range (0,n):
    for j in range (0,i+1):
      print ("#", end = " ")
    print ("\r")

pattern_print(6)

#
# #
# # #
# # # #
# # # # #
# # # # # #

our simple game wont actually show the cups or ball, instead we simply mimic the effect with a python list

our simple version will also not show the shuffle to user so,the guess is completely random

In [ ]:
example = [1,2,3,4,5,6,7]
from random import shuffle
shuffle (example)

def shuffle_lst (my_lst):
  shuffle (my_lst)
  return my_lst
result = shuffle_lst(example)
result

[7, 3, 5, 1, 6, 4, 2]

In [ ]:
def pattern_print(n) :
  for i in range (0,n):
    for j in range (0,i+1):
      print ("#", end = " ")
    print ("\r")

pattern_print(6)

#
# #
# # #
# # # #
# # # # #
# # # # # #

In [ ]:
# function for finding a LCM
def lcm(x,y):
  # selecting the greater number
  if x>y:
    greater = x
  else:
    greater = y
  while (True):
    if ((greater%x==0) and (greater%y == 0)):
      lcm = greater
      break 
    greater+=1
  return lcm
num1 = int (input ("enter the first number: "))
num2 = int (input ("enter the second number: "))
print ("the lcm of the given numbers is :",lcm(num1,num2))

enter the first number: 5
enter the second number: 6
the lcm of the given numbers is : 30

In [ ]:
# defining a function to calculate HCF  
def calculate_hcf(x, y):  
    # selecting the smaller number  
    if x > y:  
        smaller = y  
    else:  
        smaller = x  
    for i in range(1,smaller + 1):  
        if((x % i == 0) and (y % i == 0)):  
            hcf = i  
    return hcf  
  
# taking input from users  
num1 = int(input("Enter first number: "))  
num2 = int(input("Enter second number: "))  
# printing the result for the users  
print("The H.C.F. of", num1,"and", num2,"is", calculate_hcf(num1, num2))

Enter first number: 5
Enter second number: 6
The H.C.F. of 5 and 6 is 1

In [ ]:
#anonymous functions
'''1. lambda
2. filter
3.reduce
4.map'''

# LAMBDA
f = lambda a: a*a
result = f(5)
print (result)

25

In [ ]:
# filter
lst = [1,2,4,5,87,98]
evens = list(filter(lambda n : n%2==0,lst))
print(evens)

[2, 4, 98]

In [ ]:
#map
doubles = list(map(lambda n : n*2 , evens))
print (doubles)

[4, 8, 196]

In [ ]:
#reduce
from functools import reduce
sum = reduce (lambda a,b: a+b,lst)
print (sum)

197

In [ ]:
tt = input("enter a string:")
def  title():
  if tt.istitle():
    print ("its a title: ")
  else:
    print (" it is not a title")
title()

enter a string:hiii
 it is not a title

In [ ]:
# checking a prime number
def isprime(num):
  num = int (input ("enter any number : "))
  f = 0
  for i in range (2,int (num/2)+1):
    if num%i==0:
      f=1
      break
if f ==0:
  print (num," it is a prime ")
else:
  print (num," it is not a prime ")
isprime()

8  it is not a prime

TypeError: ignored

In [ ]:
# task for 10/5/22
#1.table
def table (n):
  lst = [1,2,3,4,5,6,7,8,9,10]
  for i in lst:
    print (n*i)
table(5)

5
10
15
20
25
30
35
40
45
50

In [ ]:
# sum of all the numbers in list,tuple,set
#list
def list_sum(list):
  sum = 0
  for i in list:
    sum = sum+i
  return sum
print ("sum of elements in list: ",list_sum([1,2,3,4,5,6,7,8,9,10]))

#tuple
def tup_sum(tuple):
  sum = 0
  for i in tuple:
    sum = sum+i
  return sum
print ("sum of elements in tuple: ",tup_sum((1,2,3,4,5,6,7,8,9,12)))

def set_sum(set):
  sum = 0
  for i in set:
    sum = sum+i
  return sum
print ("sum of elements in set: ",set_sum({1,2,3,4,5,6,7,8,9,13}))

sum of elements in list:  55
sum of elements in tuple:  57
sum of elements in set:  58

In [ ]:
#multiply of all the numbers in list,tuple,set
#list
def lst_mul(list):
  mul = 1
  for i in list:
    mul = mul*i
  return mul
print ("multiplication of all elements in list: ",lst_mul([1,2,3,4,5,6,7,8,9,12]))

mul of all elements in list:  4354560

In [ ]:
#tuple
def tuple_mul(tuple):
  mul = 1
  for i in tuple:
    mul = mul*i
  return mul
print ("multiplication of all elements in tuple: ",tuple_mul((1,2,3,4,5,6,7,8,9,15)))

multiplication of all elements in tuple:  5443200

In [ ]:
#set
def set_mul(set):
  mul = 1
  for i in set:
    mul = mul*i
  return mul
print ("mul of all elements in set: ",set_mul([1,2,3,4,5,6,7,8,9,10]))

mul of all elements in list:  3628800

In [ ]:
#4.accept the string and calculate no.of upper and lower case letters
s= input("enter a string:")
def string_test(s):
    upper = 0
    lower = 0
    for c in s:
        if c.isupper():
           #upper+=1
           upper = upper+1
        elif c.islower():
           #lower+=1
           lower = lower+1
        else:
           pass
    print ("Original String : ", s)
    print ("No. of Upper case characters : ", upper)
    print ("No. of Lower case Characters : ", lower)

string_test(s)

enter a string:hnsbkhHHBKSJC
Original String :  hnsbkhHHBKSJC
No. of Upper case characters :  7
No. of Lower case Characters :  6

In [ ]:
# take a new list and return a new list with unique elements of first list
def unique(list1):
    unique_list = []
    for x in list1:
        if x not in unique_list:
            unique_list.append(x)
    for x in unique_list:
        print (x)
list1 = [10, 20, 10, 30, 40, 40]
print("the unique values from 1st list is")
unique(list1)
 
 
list2 =[1, 2, 1, 1, 3, 4, 3, 3, 5]
print("\nthe unique values from 2nd list is")
unique(list2)

the unique values from 1st list is
10
20
30
40

the unique values from 2nd list is
1
2
3
4
5

In [ ]:
# pascal triangle

n = int (input("enter the no.of rows:"))
list1 = [] # take the empty list
for i in range (n):
  temp_lst= []
  for j in range(i+1):
    if j==0 or j ==i:
      temp_lst.append(1)
    else:
       temp_lst.append(list1[i-1][j-1]+list1[i-1][j])
  list1.append(temp_lst)
print(list1)
for i in range (n):
  for j in range (n-i-1):
    print (format(" ","<2"),end= "")
  for j in range (i+1):
    print(format(list1[i][j],"<4"),end = "")
  print ()

enter the no.of rows:8
[[1], [1, 1], [1, 2, 1], [1, 3, 3, 1], [1, 4, 6, 4, 1], [1, 5, 10, 10, 5, 1], [1, 6, 15, 20, 15, 6, 1], [1, 7, 21, 35, 35, 21, 7, 1]]
              1
            1   1
          1   2   1
        1   3   3   1
      1   4   6   4   1
    1   5   10  10  5   1
  1   6   15  20  15  6   1
1   7   21  35  35  21  7   1

In [ ]:
#palindrome

def palindrome(str1):
  if str1 == str1[::-1]:
    print ("palindrome")
  else:
    print("not a palindrome")
palindrome("madam")

palindrome

In [ ]:
# checking whether number is in a range or not

def range(n):
  if n>0 and n<1000:
    print ("num is in range:",n)
  else:
    print ("num is not in range: ",n)
range(1002)

num is not in range:  1002

In [ ]:
def sum(a,b):
  return a+b
print ("sum is :",sum(10,12))

sum is : 22

In [ ]:
def square(n):
  return n*n
print ("square of a number is:",square(112))

square of a number is: 12544

In [ ]:
n = int (input ("enter a number: "))
def even_odd(n):
  if n%2==0:
    print("number is even:",n)
  elif n%2!=0:
    print("number is odd:",n)
  else:
    print("enter the correct number")
even_odd(n)

enter a number: 144
number is even: 144

In [ ]:
def fact(n):  
    return 1 if (n==1 or n==0) else n * fact(n - 1);  
  
num = 0
print("Factorial of",num,"is",)  
fact(num)

Factorial of 0 is

1