<a href="https://colab.research.google.com/github/Nani81438/Vn2T03/blob/main/pysparkassignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
pip install spark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting spark
  Downloading spark-0.2.1.tar.gz (41 kB)
     |████████████████████████████████| 41 kB 83 kB/s
Building wheels for collected packages: spark
  Building wheel for spark (setup.py) ... done
  Created wheel for spark: filename=spark-0.2.1-py3-none-any.whl size=58762 sha256=3d68f40e87ae4d476e2e776993c43b45bd87e0a057a46a269ed7717691bc4f1c
  Stored in directory: /root/.cache/pip/wheels/4e/0e/f1/164619f9920fb447d294afaae11a7715bd442ded7225953d72
Successfully built spark
Installing collected packages: spark
Successfully installed spark-0.2.1

In [3]:
pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.2.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 35 kB/s
Collecting py4j==0.10.9.3
  Downloading py4j-0.10.9.3-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 35.8 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.2.1-py2.py3-none-any.whl size=281853642 sha256=b9c642e32048759139c17018579f431637918faf3ff157fbd94623393478d1bf
  Stored in directory: /root/.cache/pip/wheels/9f/f5/07/7cd8017084dce4e93e84e92efd1e1d5334db05f2e83bcef74f
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.3 pyspark-3.2.1

In [4]:
import pyspark

In [5]:
from pyspark.sql import *

In [6]:
spark = SparkSession.builder.appName('practice').getOrCreate()

In [7]:
spark

In [9]:
df = spark.read.csv("/content/1000 BT Records.csv",header = True,inferSchema =True)

In [10]:
df.show()

+-----------+-------------+------------+------------+------------+
|       Date|  Description|    Deposits|  Withdrawls|     Balance|
+-----------+-------------+------------+------------+------------+
|20-Aug-2020|       Cheque|    3,391.02|       00.00|   83,839.30|
|20-Aug-2020|          ATM|  147,844.20|       00.00|  231,683.50|
|20-Aug-2020|         IMPS|   17,192.00|       00.00|  248,875.50|
|21-Aug-2020|     Transfer|       08.00|       00.00|  248,883.50|
|21-Aug-2020|     Purchase|       00.00|   82,961.17|  165,922.33|
|21-Aug-2020|          Tax|   24,459.40|       00.00|  190,381.73|
|21-Aug-2020|     Reversal|       00.00|   19,038.17|  171,343.56|
|21-Aug-2020|   Commission|  305,878.00|       00.00|  477,221.56|
|21-Aug-2020|     Reversal|1,144,337.80|       00.00|1,621,559.36|
|21-Aug-2020|     Interest|       00.00|  405,389.84|1,216,169.52|
|21-Aug-2020|   Commission|       33.08|       00.00|1,216,202.60|
|21-Aug-2020|   Commission|   20,014.02|       00.00|1,236,216.62|
|21-Aug-2020|          ATM|       00.00|1,236,216.62|       00.00|
|22-Aug-2020|         Cash|    4,031.60|       00.00|    4,031.60|
|22-Aug-2020|       Cheque|       04.90|       00.00|    4,036.50|
|22-Aug-2020|Miscellaneous|      488.61|       00.00|    4,525.11|
|22-Aug-2020|     Interest|  667,800.00|       00.00|  672,325.11|
|22-Aug-2020|     Reversal|       00.00|  112,054.19|  560,270.93|
|22-Aug-2020|     Purchase|  162,939.70|       00.00|  723,210.63|
|22-Aug-2020|     Interest|      361.00|       00.00|  723,571.63|
+-----------+-------------+------------+------------+------------+
only showing top 20 rows

In [11]:
df

DataFrame[Date: string, Description: string, Deposits: string, Withdrawls: string, Balance: string]

In [12]:
type(df)

pyspark.sql.dataframe.DataFrame

In [ ]:
df.printSchema()

In [15]:
cheque_df = df.filter((df.Description == "Cheque"))

In [16]:
cheque_df.show()

+-----------+-----------+----------+------------+------------+
|       Date|Description|  Deposits|  Withdrawls|     Balance|
+-----------+-----------+----------+------------+------------+
|20-Aug-2020|     Cheque|  3,391.02|       00.00|   83,839.30|
|22-Aug-2020|     Cheque|     04.90|       00.00|    4,036.50|
|23-Aug-2020|     Cheque|     00.00|   51,683.69|  413,469.50|
|23-Aug-2020|     Cheque|  2,952.00|       00.00|  264,750.85|
|23-Aug-2020|     Cheque|    429.53|       00.00|  626,223.11|
|23-Aug-2020|     Cheque|     00.00|  440,696.14|1,322,088.40|
|24-Aug-2020|     Cheque| 21,261.31|       00.00|  109,584.81|
|25-Aug-2020|     Cheque|     00.00|       00.01|       00.06|
|25-Aug-2020|     Cheque|     19.70|       00.00|       19.76|
|26-Aug-2020|     Cheque|     00.00|  306,731.39|  613,462.77|
|26-Aug-2020|     Cheque|  1,377.60|       00.00|2,476,290.70|
|27-Aug-2020|     Cheque|     04.00|       00.00|       04.00|
|29-Aug-2020|     Cheque|  1,980.76|       00.00|   30,545.36|
|29-Aug-2020|     Cheque|     00.00|1,339,526.83|       00.00|
|31-Aug-2020|     Cheque|     00.00|  221,321.39|  885,285.57|
|31-Aug-2020|     Cheque|  2,267.40|       00.00|2,889,958.27|
|01-Sep-2020|     Cheque|154,027.00|       00.00|1,138,339.33|
|01-Sep-2020|     Cheque|     00.00|  249,310.54|  498,621.08|
|02-Sep-2020|     Cheque|  2,025.80|       00.00|  132,094.79|
|05-Sep-2020|     Cheque|     00.00|   32,241.92|  193,451.53|
+-----------+-----------+----------+------------+------------+
only showing top 20 rows

In [17]:
atm_df = df.filter((df.Description == "ATM"))

In [18]:
atm_df.show(n=5)

+-----------+-----------+----------+------------+----------+
|       Date|Description|  Deposits|  Withdrawls|   Balance|
+-----------+-----------+----------+------------+----------+
|20-Aug-2020|        ATM|147,844.20|       00.00|231,683.50|
|21-Aug-2020|        ATM|     00.00|1,236,216.62|     00.00|
|23-Aug-2020|        ATM|     00.00|   15,986.99|     00.00|
|23-Aug-2020|        ATM|     00.00|   58,177.52|349,065.13|
|26-Aug-2020|        ATM| 28,882.63|       00.00|281,553.60|
+-----------+-----------+----------+------------+----------+
only showing top 5 rows

In [19]:
imps_df = df.filter((df.Description == "IMPS"))

In [20]:
imps_df.show(5)

+-----------+-----------+---------+----------+----------+
|       Date|Description| Deposits|Withdrawls|   Balance|
+-----------+-----------+---------+----------+----------+
|20-Aug-2020|       IMPS|17,192.00|     00.00|248,875.50|
|23-Aug-2020|       IMPS|    00.00| 66,187.71|198,563.14|
|24-Aug-2020|       IMPS| 7,264.00|     00.00|  7,270.50|
|26-Aug-2020|       IMPS|   242.65|     00.00|846,543.48|
|26-Aug-2020|       IMPS|    26.00|     00.00|774,917.70|
+-----------+-----------+---------+----------+----------+
only showing top 5 rows

In [21]:
transfer_df = df.filter((df.Description == "Transfer"))

In [22]:
transfer_df.show(n=5)

+-----------+-----------+--------+----------+------------+
|       Date|Description|Deposits|Withdrawls|     Balance|
+-----------+-----------+--------+----------+------------+
|21-Aug-2020|   Transfer|   08.00|     00.00|  248,883.50|
|23-Aug-2020|   Transfer|   34.93|     00.00|1,018,491.02|
|23-Aug-2020|   Transfer|   00.00|  1,150.52|    2,301.04|
|23-Aug-2020|   Transfer|   26.90|     00.00|1,322,115.30|
|23-Aug-2020|   Transfer|  308.80|     00.00|  651,951.03|
+-----------+-----------+--------+----------+------------+
only showing top 5 rows

In [23]:
Purchase_df = df.filter((df.Description == "Purchase"))

In [24]:
Purchase_df.show(n=5)

+-----------+-----------+----------+----------+----------+
|       Date|Description|  Deposits|Withdrawls|   Balance|
+-----------+-----------+----------+----------+----------+
|21-Aug-2020|   Purchase|     00.00| 82,961.17|165,922.33|
|22-Aug-2020|   Purchase|162,939.70|     00.00|723,210.63|
|23-Aug-2020|   Purchase|     00.00| 93,030.64|558,183.83|
|23-Aug-2020|   Purchase|     00.00| 45,941.06|367,528.44|
|23-Aug-2020|   Purchase|     06.11|     00.00|     06.11|
+-----------+-----------+----------+----------+----------+
only showing top 5 rows

In [25]:
Tax_df = df.filter((df.Description == "Tax"))

In [26]:
Tax_df.show(n=5)

+-----------+-----------+----------+----------+----------+
|       Date|Description|  Deposits|Withdrawls|   Balance|
+-----------+-----------+----------+----------+----------+
|21-Aug-2020|        Tax| 24,459.40|     00.00|190,381.73|
|23-Aug-2020|        Tax|     46.00|     00.00|    291.20|
|23-Aug-2020|        Tax|     00.00|    355.02|  1,420.07|
|23-Aug-2020|        Tax|     00.00|135,747.55|407,242.65|
|24-Aug-2020|        Tax|392,733.00|     00.00|936,025.52|
+-----------+-----------+----------+----------+----------+
only showing top 5 rows

In [27]:
Reversal_df = df.filter((df.Description == "Reversal"))

In [28]:
Reversal_df.show(n=5)

+-----------+-----------+------------+----------+------------+
|       Date|Description|    Deposits|Withdrawls|     Balance|
+-----------+-----------+------------+----------+------------+
|21-Aug-2020|   Reversal|       00.00| 19,038.17|  171,343.56|
|21-Aug-2020|   Reversal|1,144,337.80|     00.00|1,621,559.36|
|22-Aug-2020|   Reversal|       00.00|112,054.19|  560,270.93|
|23-Aug-2020|   Reversal|       00.00|542,990.21|  542,990.20|
|23-Aug-2020|   Reversal|       00.00|144,135.40|1,008,947.76|
+-----------+-----------+------------+----------+------------+
only showing top 5 rows

In [29]:
Interest_df = df.filter((df.Description == "Interest"))

In [30]:
Interest_df.show()

+-----------+-----------+----------+----------+------------+
|       Date|Description|  Deposits|Withdrawls|     Balance|
+-----------+-----------+----------+----------+------------+
|21-Aug-2020|   Interest|     00.00|405,389.84|1,216,169.52|
|22-Aug-2020|   Interest|667,800.00|     00.00|  672,325.11|
|22-Aug-2020|   Interest|    361.00|     00.00|  723,571.63|
|23-Aug-2020|   Interest|     00.00| 87,266.28|  261,798.85|
|23-Aug-2020|   Interest|    253.26|     00.00|  132,638.45|
|23-Aug-2020|   Interest|     05.90|     00.00|  106,116.66|
|23-Aug-2020|   Interest|     66.70|     00.00|  882,900.36|
|23-Aug-2020|   Interest|     00.00| 69,528.88|  625,759.88|
|23-Aug-2020|   Interest|     00.00|220,348.07|1,762,784.54|
|24-Aug-2020|   Interest|     00.00| 10,958.48|   98,626.33|
|26-Aug-2020|   Interest|  8,877.00|     00.00|    8,886.68|
|26-Aug-2020|   Interest|  6,572.59|     00.00|2,195,422.82|
|26-Aug-2020|   Interest|     00.00|545,864.58|2,729,322.88|
|26-Aug-2020|   Interest| 20,133.00|     00.00|2,749,903.45|
|27-Aug-2020|   Interest|     31.20|     00.00|2,103,912.58|
|01-Sep-2020|   Interest|  1,366.00|     00.00|1,139,705.33|
|01-Sep-2020|   Interest|     00.00|249,310.54|  747,931.62|
|05-Sep-2020|   Interest|    114.00|     00.00|  223,688.05|
|05-Sep-2020|   Interest|    191.00|     00.00|      234.98|
|05-Sep-2020|   Interest|     00.00|     29.84|      179.03|
+-----------+-----------+----------+----------+------------+
only showing top 20 rows

In [31]:
commission_df = df.filter((df.Description=='Commission'))

In [32]:
commission_df.show()

+-----------+-----------+------------+----------+------------+
|       Date|Description|    Deposits|Withdrawls|     Balance|
+-----------+-----------+------------+----------+------------+
|21-Aug-2020| Commission|  305,878.00|     00.00|  477,221.56|
|21-Aug-2020| Commission|       33.08|     00.00|1,216,202.60|
|21-Aug-2020| Commission|   20,014.02|     00.00|1,236,216.62|
|23-Aug-2020| Commission|       00.00|     19.41|      174.72|
|23-Aug-2020| Commission|1,190,196.80|     00.00|1,223,003.61|
|23-Aug-2020| Commission|       00.00|443,478.74|  886,957.48|
|24-Aug-2020| Commission|       06.50|     00.00|       06.50|
|24-Aug-2020| Commission|       00.00| 13,699.80|   68,498.98|
|26-Aug-2020| Commission|  372,901.00|     00.00|  378,899.51|
|26-Aug-2020| Commission|       00.00|306,731.39|  920,194.16|
|26-Aug-2020| Commission|       00.00|557,940.74|       00.00|
|26-Aug-2020| Commission|1,141,399.50|     00.00|3,192,073.25|
|26-Aug-2020| Commission|       08.00|     00.00|2,195,430.82|
|26-Aug-2020| Commission|       00.00|439,086.16|1,756,344.66|
|26-Aug-2020| Commission|  108,095.72|     00.00|2,089,128.28|
|27-Aug-2020| Commission|       00.00|     00.25|       01.50|
|31-Aug-2020| Commission|1,434,390.00|     00.00|1,475,475.95|
|31-Aug-2020| Commission|       00.00|145,465.47|  727,327.32|
|31-Aug-2020| Commission|       02.30|     00.00|       55.50|
|02-Sep-2020| Commission|       00.00|132,094.79|       00.00|
+-----------+-----------+------------+----------+------------+
only showing top 20 rows

In [33]:
df.describe().show()

+-------+-----------+-----------+------------------+------------------+------------------+
|summary|       Date|Description|          Deposits|        Withdrawls|           Balance|
+-------+-----------+-----------+------------------+------------------+------------------+
|  count|       1000|       1000|              1000|              1000|              1000|
|   mean|       null|       null|  46.2909090909091|18.471862745098043|106.54398843930639|
| stddev|       null|       null|126.38662857144023| 93.43888743400261| 181.1357926623517|
|    min|01-Oct-2020|        ATM|             00.00|             00.00|             00.00|
|    max|31-Aug-2020|   Transfer|        994,038.00|        998,185.43|        998,185.43|
+-------+-----------+-----------+------------------+------------------+------------------+

In [ ]:
df.dtypes

In [34]:
#printing certain required columns
df.select(['Deposits','Withdrawls']).show()

+------------+------------+
|    Deposits|  Withdrawls|
+------------+------------+
|    3,391.02|       00.00|
|  147,844.20|       00.00|
|   17,192.00|       00.00|
|       08.00|       00.00|
|       00.00|   82,961.17|
|   24,459.40|       00.00|
|       00.00|   19,038.17|
|  305,878.00|       00.00|
|1,144,337.80|       00.00|
|       00.00|  405,389.84|
|       33.08|       00.00|
|   20,014.02|       00.00|
|       00.00|1,236,216.62|
|    4,031.60|       00.00|
|       04.90|       00.00|
|      488.61|       00.00|
|  667,800.00|       00.00|
|       00.00|  112,054.19|
|  162,939.70|       00.00|
|      361.00|       00.00|
+------------+------------+
only showing top 20 rows

In [35]:
#adding column
df.withColumn('bal',df['balance']+1000).show()

+-----------+-------------+------------+------------+------------+------+
|       Date|  Description|    Deposits|  Withdrawls|     Balance|   bal|
+-----------+-------------+------------+------------+------------+------+
|20-Aug-2020|       Cheque|    3,391.02|       00.00|   83,839.30|  null|
|20-Aug-2020|          ATM|  147,844.20|       00.00|  231,683.50|  null|
|20-Aug-2020|         IMPS|   17,192.00|       00.00|  248,875.50|  null|
|21-Aug-2020|     Transfer|       08.00|       00.00|  248,883.50|  null|
|21-Aug-2020|     Purchase|       00.00|   82,961.17|  165,922.33|  null|
|21-Aug-2020|          Tax|   24,459.40|       00.00|  190,381.73|  null|
|21-Aug-2020|     Reversal|       00.00|   19,038.17|  171,343.56|  null|
|21-Aug-2020|   Commission|  305,878.00|       00.00|  477,221.56|  null|
|21-Aug-2020|     Reversal|1,144,337.80|       00.00|1,621,559.36|  null|
|21-Aug-2020|     Interest|       00.00|  405,389.84|1,216,169.52|  null|
|21-Aug-2020|   Commission|       33.08|       00.00|1,216,202.60|  null|
|21-Aug-2020|   Commission|   20,014.02|       00.00|1,236,216.62|  null|
|21-Aug-2020|          ATM|       00.00|1,236,216.62|       00.00|1000.0|
|22-Aug-2020|         Cash|    4,031.60|       00.00|    4,031.60|  null|
|22-Aug-2020|       Cheque|       04.90|       00.00|    4,036.50|  null|
|22-Aug-2020|Miscellaneous|      488.61|       00.00|    4,525.11|  null|
|22-Aug-2020|     Interest|  667,800.00|       00.00|  672,325.11|  null|
|22-Aug-2020|     Reversal|       00.00|  112,054.19|  560,270.93|  null|
|22-Aug-2020|     Purchase|  162,939.70|       00.00|  723,210.63|  null|
|22-Aug-2020|     Interest|      361.00|       00.00|  723,571.63|  null|
+-----------+-------------+------------+------------+------------+------+
only showing top 20 rows

In [36]:
#dropping the columnn
df.drop('bal').show()

+-----------+-------------+------------+------------+------------+
|       Date|  Description|    Deposits|  Withdrawls|     Balance|
+-----------+-------------+------------+------------+------------+
|20-Aug-2020|       Cheque|    3,391.02|       00.00|   83,839.30|
|20-Aug-2020|          ATM|  147,844.20|       00.00|  231,683.50|
|20-Aug-2020|         IMPS|   17,192.00|       00.00|  248,875.50|
|21-Aug-2020|     Transfer|       08.00|       00.00|  248,883.50|
|21-Aug-2020|     Purchase|       00.00|   82,961.17|  165,922.33|
|21-Aug-2020|          Tax|   24,459.40|       00.00|  190,381.73|
|21-Aug-2020|     Reversal|       00.00|   19,038.17|  171,343.56|
|21-Aug-2020|   Commission|  305,878.00|       00.00|  477,221.56|
|21-Aug-2020|     Reversal|1,144,337.80|       00.00|1,621,559.36|
|21-Aug-2020|     Interest|       00.00|  405,389.84|1,216,169.52|
|21-Aug-2020|   Commission|       33.08|       00.00|1,216,202.60|
|21-Aug-2020|   Commission|   20,014.02|       00.00|1,236,216.62|
|21-Aug-2020|          ATM|       00.00|1,236,216.62|       00.00|
|22-Aug-2020|         Cash|    4,031.60|       00.00|    4,031.60|
|22-Aug-2020|       Cheque|       04.90|       00.00|    4,036.50|
|22-Aug-2020|Miscellaneous|      488.61|       00.00|    4,525.11|
|22-Aug-2020|     Interest|  667,800.00|       00.00|  672,325.11|
|22-Aug-2020|     Reversal|       00.00|  112,054.19|  560,270.93|
|22-Aug-2020|     Purchase|  162,939.70|       00.00|  723,210.63|
|22-Aug-2020|     Interest|      361.00|       00.00|  723,571.63|
+-----------+-------------+------------+------------+------------+
only showing top 20 rows

In [37]:
#renaming the column
df.withColumnRenamed('withdrawls','withdrawl').show()

+-----------+-------------+------------+------------+------------+
|       Date|  Description|    Deposits|   withdrawl|     Balance|
+-----------+-------------+------------+------------+------------+
|20-Aug-2020|       Cheque|    3,391.02|       00.00|   83,839.30|
|20-Aug-2020|          ATM|  147,844.20|       00.00|  231,683.50|
|20-Aug-2020|         IMPS|   17,192.00|       00.00|  248,875.50|
|21-Aug-2020|     Transfer|       08.00|       00.00|  248,883.50|
|21-Aug-2020|     Purchase|       00.00|   82,961.17|  165,922.33|
|21-Aug-2020|          Tax|   24,459.40|       00.00|  190,381.73|
|21-Aug-2020|     Reversal|       00.00|   19,038.17|  171,343.56|
|21-Aug-2020|   Commission|  305,878.00|       00.00|  477,221.56|
|21-Aug-2020|     Reversal|1,144,337.80|       00.00|1,621,559.36|
|21-Aug-2020|     Interest|       00.00|  405,389.84|1,216,169.52|
|21-Aug-2020|   Commission|       33.08|       00.00|1,216,202.60|
|21-Aug-2020|   Commission|   20,014.02|       00.00|1,236,216.62|
|21-Aug-2020|          ATM|       00.00|1,236,216.62|       00.00|
|22-Aug-2020|         Cash|    4,031.60|       00.00|    4,031.60|
|22-Aug-2020|       Cheque|       04.90|       00.00|    4,036.50|
|22-Aug-2020|Miscellaneous|      488.61|       00.00|    4,525.11|
|22-Aug-2020|     Interest|  667,800.00|       00.00|  672,325.11|
|22-Aug-2020|     Reversal|       00.00|  112,054.19|  560,270.93|
|22-Aug-2020|     Purchase|  162,939.70|       00.00|  723,210.63|
|22-Aug-2020|     Interest|      361.00|       00.00|  723,571.63|
+-----------+-------------+------------+------------+------------+
only showing top 20 rows

In [45]:
from pyspark.sql.types import StructField,IntegerType, StructType,StringType, FloatType

In [48]:
#changing the data types of column
df1= [StructField('Date',StringType(),True),
      StructField('Description',StringType(),True),
      StructField('Deposits',FloatType(),True),
      StructField('withdrawl',FloatType(),True),
      StructField('Balance',FloatType(),True),
      ]

In [51]:
#filtering 
#help(df1.filter('Deposits>=25000.00').show())

In [42]:
df.filter("Deposits <=40000 ").select(["Descrition","Deposits"]).show()

AnalysisException: ignored