<a href="https://colab.research.google.com/github/Nani81438/pyspark/blob/main/task1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
pip install spark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting spark
  Downloading spark-0.2.1.tar.gz (41 kB)
     |████████████████████████████████| 41 kB 71 kB/s
Building wheels for collected packages: spark
  Building wheel for spark (setup.py) ... done
  Created wheel for spark: filename=spark-0.2.1-py3-none-any.whl size=58762 sha256=9d77b9b0a3954c6b60fa84e305cf01324ff0fdd2d1ee52a387916332ee9c10aa
  Stored in directory: /root/.cache/pip/wheels/4e/0e/f1/164619f9920fb447d294afaae11a7715bd442ded7225953d72
Successfully built spark
Installing collected packages: spark
Successfully installed spark-0.2.1

In [2]:
pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.0.tar.gz (281.3 MB)
     |████████████████████████████████| 281.3 MB 46 kB/s
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     |████████████████████████████████| 199 kB 43.6 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.0-py2.py3-none-any.whl size=281764026 sha256=114d8f8a8b962ded243396f08154837f20e19bf823bd59582b3166b501970083
  Stored in directory: /root/.cache/pip/wheels/7a/8e/1b/f73a52650d2e5f337708d9f6a1750d451a7349a867f928b885
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.0

In [3]:
import pyspark
from pyspark.sql import *
from pyspark.sql.functions import *

In [4]:
spark = SparkSession.builder.appName("joins").getOrCreate()

In [5]:
df1 = spark.read.csv("/content/df_1_csv.csv",header=True,inferSchema=True)

In [6]:
df1.show(5)

+----+-----------+----------+-------------------+---------+
|s.no|supplier_id|product_id|total_sales_ammount|     date|
+----+-----------+----------+-------------------+---------+
|   1|       1001|     10101|                 50| 1/1/2022|
|   2|       1001|     10101|                100|1/10/2022|
|   3|       1001|     10101|                150|1/19/2022|
|   4|       1001|     10101|                200|1/28/2022|
|   5|       1001|     10102|                250| 2/6/2022|
+----+-----------+----------+-------------------+---------+
only showing top 5 rows

In [13]:
df1.count()

86

In [7]:
df2 = spark.read.csv("/content/df_2_csv.csv",header=True,inferSchema=True)

In [8]:
df2.show()

+----+----------+-----+
|s.no|product_id|price|
+----+----------+-----+
|   1|     10101|   50|
|   2|     10102|  100|
|   3|     10103|  100|
|   4|     10104|   25|
|   5|     10105|   50|
+----+----------+-----+

In [11]:
df3 = spark.read.csv("/content/df_3_csv.csv",header=True,inferSchema=True)

In [12]:
df3.show()

+----+-----------+-------------+------+
|s.no|supplier_id|supplier_name|region|
+----+-----------+-------------+------+
|   1|       1001|        test1|  asia|
|   2|       1002|        test2|  asia|
|   3|       1003|        test2|europe|
+----+-----------+-------------+------+

In [14]:
df4 = df1.alias("a").join(df2.alias("b"),col("a.product_id")==col("b.product_id"),"inner").select(col("a.*"),col("b.price"))

In [15]:
df4.count()

86

In [16]:
df4.show(5)

+----+-----------+----------+-------------------+---------+-----+
|s.no|supplier_id|product_id|total_sales_ammount|     date|price|
+----+-----------+----------+-------------------+---------+-----+
|   1|       1001|     10101|                 50| 1/1/2022|   50|
|   2|       1001|     10101|                100|1/10/2022|   50|
|   3|       1001|     10101|                150|1/19/2022|   50|
|   4|       1001|     10101|                200|1/28/2022|   50|
|   5|       1001|     10102|                250| 2/6/2022|  100|
+----+-----------+----------+-------------------+---------+-----+
only showing top 5 rows

In [18]:
df5=df4.alias("a").join(df3.alias("b"),col("a.supplier_id")==col("b.supplier_id"),"inner").select(col("a.*"),col("b.supplier_name"),col("b.region"))

In [19]:
df5.count()

86

In [20]:
df5.show()

+----+-----------+----------+-------------------+---------+-----+-------------+------+
|s.no|supplier_id|product_id|total_sales_ammount|     date|price|supplier_name|region|
+----+-----------+----------+-------------------+---------+-----+-------------+------+
|   1|       1001|     10101|                 50| 1/1/2022|   50|        test1|  asia|
|   2|       1001|     10101|                100|1/10/2022|   50|        test1|  asia|
|   3|       1001|     10101|                150|1/19/2022|   50|        test1|  asia|
|   4|       1001|     10101|                200|1/28/2022|   50|        test1|  asia|
|   5|       1001|     10102|                250| 2/6/2022|  100|        test1|  asia|
|   6|       1001|     10102|                300|2/15/2022|  100|        test1|  asia|
|   7|       1001|     10102|                350|2/24/2022|  100|        test1|  asia|
|   8|       1001|     10102|                400| 3/5/2022|  100|        test1|  asia|
|   9|       1001|     10102|                450|3/14/2022|  100|        test1|  asia|
|  10|       1001|     10101|                500|3/23/2022|   50|        test1|  asia|
|  11|       1002|     10101|                550| 4/1/2022|   50|        test2|  asia|
|  12|       1002|     10101|                600|4/10/2022|   50|        test2|  asia|
|  13|       1002|     10101|                650|4/19/2022|   50|        test2|  asia|
|  14|       1002|     10102|                700|4/28/2022|  100|        test2|  asia|
|  15|       1002|     10102|                750| 5/7/2022|  100|        test2|  asia|
|  16|       1002|     10102|                800|5/16/2022|  100|        test2|  asia|
|  17|       1002|     10102|                850|5/25/2022|  100|        test2|  asia|
|  18|       1002|     10102|                900| 6/3/2022|  100|        test2|  asia|
|  19|       1002|     10103|                950|6/12/2022|  100|        test2|  asia|
|  20|       1002|     10103|               1000|6/21/2022|  100|        test2|  asia|
+----+-----------+----------+-------------------+---------+-----+-------------+------+
only showing top 20 rows

In [25]:
df6 = df5.withColumn("quantity",col("total_sales_ammount")/col("price"))

In [26]:
df6.count()

86

In [27]:
df6.show(5)

+----+-----------+----------+-------------------+---------+-----+-------------+------+--------+
|s.no|supplier_id|product_id|total_sales_ammount|     date|price|supplier_name|region|quantity|
+----+-----------+----------+-------------------+---------+-----+-------------+------+--------+
|   1|       1001|     10101|                 50| 1/1/2022|   50|        test1|  asia|     1.0|
|   2|       1001|     10101|                100|1/10/2022|   50|        test1|  asia|     2.0|
|   3|       1001|     10101|                150|1/19/2022|   50|        test1|  asia|     3.0|
|   4|       1001|     10101|                200|1/28/2022|   50|        test1|  asia|     4.0|
|   5|       1001|     10102|                250| 2/6/2022|  100|        test1|  asia|     2.5|
+----+-----------+----------+-------------------+---------+-----+-------------+------+--------+
only showing top 5 rows

In [29]:
cols = ("s.no","supplier_id","price",)

In [30]:
df7= df6.drop(*cols)

In [31]:
df7.show(5)

+----------+-------------------+---------+-------------+------+--------+
|product_id|total_sales_ammount|     date|supplier_name|region|quantity|
+----------+-------------------+---------+-------------+------+--------+
|     10101|                 50| 1/1/2022|        test1|  asia|     1.0|
|     10101|                100|1/10/2022|        test1|  asia|     2.0|
|     10101|                150|1/19/2022|        test1|  asia|     3.0|
|     10101|                200|1/28/2022|        test1|  asia|     4.0|
|     10102|                250| 2/6/2022|        test1|  asia|     2.5|
+----------+-------------------+---------+-------------+------+--------+
only showing top 5 rows

In [32]:
final_df =df7.withColumnRenamed("total_sales_ammount","total_sales")

In [33]:
final_df.show(5)

+----------+-----------+---------+-------------+------+--------+
|product_id|total_sales|     date|supplier_name|region|quantity|
+----------+-----------+---------+-------------+------+--------+
|     10101|         50| 1/1/2022|        test1|  asia|     1.0|
|     10101|        100|1/10/2022|        test1|  asia|     2.0|
|     10101|        150|1/19/2022|        test1|  asia|     3.0|
|     10101|        200|1/28/2022|        test1|  asia|     4.0|
|     10102|        250| 2/6/2022|        test1|  asia|     2.5|
+----------+-----------+---------+-------------+------+--------+
only showing top 5 rows